.inputbox {
    width: 500px;
}
.button {
    width: 500px;
}

.figureNum{
    font-size: 2em;
}
.center{
    text-align:center;
    align-content:center;
    align-items:center;
}

.figureSection{
    display: inline-block;
    width: 20%;
    height: 200px;
    padding: 20px;
}
.generate{
    display: inline-block;
    width: 40%;
}

.dashButton{
    width: 150px;
    display: block;
    text-align:center;
    margin:0 auto;
    margin-top: 50px;
}
.dates{
    margin: 30px;

}

.padLeft{
    padding-left:10px;
}

.buts{
    margin-top: 40%;
}
.chart{
    display: inline-block;
    width: 60%;
    height: 500px;
    margin-top: -350px;
}

.btn.btn-primary {
    width: 80%;
}

.center-text {
    text-align: center;
}
