.inputbox {
    width: 500px;
}
.button {
    width: 500px;
}

.figureNum{
    font-size: 2em;
}
.loginform{
    margin-top: 150px;
}
.center{
    text-align:center;
    align-content:center;
    align-items:center;
}

.figureSection{
    display: inline-block;
    width: 20%;
    height: 200px;
    padding: 20px;
}
.m2{
    margin:20px;
}
.m3{
    margin:30px;
}
.m4{
    margin:40px;
}
.generate{
    display: inline-block;
    width: 40%;
}
.flowRight{
    float: Right;
}

.dashButton{
    width: 150px;
    display: block;
    text-align:center;
    margin:0 auto;
    margin-top: 40px;
}
.dates{
    margin: 30px;
}
.inline{
    display: inline-block;
}

.padLeft{
    padding-left:10px;
}
.w100{
    width: 100%;
}
.buts{
    margin-top: 40%;
}
.chart{
    display: inline-block;
    width: 60%;
    height: 500px;
    margin-top: -350px;
}

.btn.btn-primary {
    width: 80%;
}

.center-text {
    text-align: center;
}
